<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--<add key="ftpServer" value="172.20.160.76"/>
    <add key="ftpUsername" value="apsirh"/>
    <add key="ftpPassword" value="apsirh"/>-->

    <add key="ftpServer" value="10.20.101.189"/>
    <add key="ftpUsername" value="root"/>
    <add key="ftpPassword" value="oracle123"/>
    <add key="ftpFilePath" value="/tmp"/>
  </appSettings>
</configuration>